
#galaxymaior{
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: 1;   
    
    
}

.barra-NAVBAR { 
  background-color: white; 
  width: 100%; 
  height: 110px; 
  padding: 0; 
  margin: 0; 
  display: flex;    
  align-items: center;


position: fixed; 
top: 0;
left: 0;
z-index: 10; 


  border: 2px solid #e0e0e0;
}

.barra-NAVBAR img{
    width: 400px;
    margin-left: 10px;
    display: flex;
    align-items: center;

   
    
}

.abas-NAVBAR{
     gap: 30px;

    display: flex;
    align-items: center;

    margin-left: 150px;
    
}

.abas-NAVBAR a{
   text-decoration: none;
    gap: 20px;
    font-weight: bold;
    color: black;
}

.galaxy{
     width: 100%; 
  height: 100px; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  align-items: center;

     
  margin-left: -8px;  


}

.centralizar{
    flex-direction: column;
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;

   width: 100%;
  height: 70vh;           
}

.textogalaxy{
    color: white;
    font-family: sans-serif;
    max-width: 600px;
    text-align: center;
    font-weight: bold;
}

.entraraqui{
   
    padding: 15px 70px;
    color: white;
    font-weight: bold;

    background-color: transparent;
  border: 2px solid white; 
}


/*outro*/
.austronauto{
    position: relative;
    display: flex;
  width: 100%;
    
  background-color: white;
  color: black;
  padding: 80px 40px;  
       
  justify-content: center;
  
  margin-left: -8px;

  gap: 20px;
}

.paragrado{
  margin-top: -50px;
 position: absolute;
 margin-left: -770px;

}

.texto1{
    font-size: 20px;

    max-width: 450px;

    display: flex;
    margin-top: -23px;
}

.austronauto img{
   width: 500px;
}

.maistexto{
    font-size: 20px;
   position: absolute;
   max-width: 960px;
   margin-top: 360px;
   display: flex;
   align-items: center;
}

.imagens-austronautas{
  display: flex;
  gap: 10px;
 margin-left: 50px;
  margin-top: 370px;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
}

#destibofinal{
  position: relative;
  margin-top: 100vh; 
  background-color: #ffffff; 
  z-index: 10; 
}

.footer{
  background-color: black;
  color: white;
  width: 100%;
  height: 8vh;

    
    display: flex;
    align-items: center;
}

.footer p{
  margin: 0px;
  margin-left: 20px;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;

}

.bodyfooter{
  margin: 0 ;
  box-sizing: border-box;
  height: 100%;
    overflow-x: hidden; 
   
}

/*sobre*/

.galaxysobre img{
   
display: flex; 
align-items: center;

box-sizing: border-box;
border-radius: 50px;
margin-top: -380px;
 width: 100% ;       
padding: 20px 20px;
height: 500px 
}

.sobre-pagina{
    margin: 0;
    overflow-x: hidden; 
    
}

.centralizarsobre{
    flex-direction: column;
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;

  
  height: 70vh;           
}



.centralizarsobre h1{
 position: relative; 
    z-index: 1;


   color: white;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
margin-top: 250px;
}

.textogalaxysobre{
  position: relative; 
    z-index: 1;

    color: white;
    font-family: sans-serif;
    max-width: 600px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

    margin: 5;
}

.sobrteoteslocio{
  max-width: 500px;

}

.tudodotelescoip{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.imagemdotelescopio img{
  border-radius: 20px;
  width: 600px;
}

/*perfil*/

.perfil{
       background: linear-gradient(135deg, #441c60 0%, #210c35 100%);


  border-radius: 10px;
   padding: 30px;          
  box-sizing: border-box;
width: 60%;
height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 40px;

  gap: 100px;
  
}

.perfil img{
 width: 350px;
 border-radius: 25px;
 display: flex;
 
  
}

.perfilanotação h1{
 
 text-align: center;
}

.perfilanotação{
  font-size: 25px;
  color: white;
}

.linkedin{
   color: #00e5ff;
}

.linkedinbranco{
  color: white;
}